div, body, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
	abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul,
	li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
	tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: "Calibri", Tahoma, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #333333;
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	transition: all 150ms ease;
}
ul li a {
	cursor: pointer;
}
ul li {
	float: left;
	text-decoration-style: none;
	list-style: none;
}
/*HOVER EFFECTS*/
:hover {
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
  transition: all 250ms ease-out;
}

.main {
	background-attachment: scroll;
	background-position: top;
	background-repeat:no-repeat;
	background-size: cover;
	text-align: center;
	color: #171717;
	min-height: 100vh;
	margin-bottom: 10px;
}
.col-md-12 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin: auto;
}
.row {
	justify-content: center;
	margin: auto;
	padding: 15px 0;
}

/*NAVBAR*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Highlight the current page */
.active {  background-color: #430092; }

/* Logo image max size setting */
#logo { position: block; }
#logo img { margin-left: 0; max-width: 92px;}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon { display: none;}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:not(:first-child)hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content { display: block; }

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child), .dropdown .dropbtn { display: none; }
  .topnav a.icon, .lang { display: block; }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {
		position: relative;
		flex-flow: column nowrap;
		align-items: flex-start;
	}

  .topnav.responsive a.icon {
    position: absolute;
		align-self: flex-end !important;
  }
	.topnav.responsive a {
		display: block;
		align-self: flex-start;
	}
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*Language*/
.lang a {
	padding: 5px 10px;
	font-size: 14px;
	color: #999999;
	text-align: center;
	text-decoration: none;
}
.lang a:hover {
	background-color: #430092 !important;
	color:#FFFFFF;
	border-radius: 125.0rem;
	text-decoration: none;
}
#selected { color: #FD0000; }
#selected:hover { color: grey; }

/*navbar sticky setting*/
.sticky {
	margin: 0;
	left: 0;
	width: 100%;
	padding: 10px 10px;
	border-radius: 0;
}

/*LOGIN*/
.welcome {
	margin-top: 4.0rem;
	max-width: 600;
	height:auto;
}
.welcome-text {
	-webkit-font-smoothing: antialiased;
	font: bolder 50px sans-serif;
	fill: white;
	stroke: #430092;
	stroke-width: 1;
	stroke-linejoin: round;
}

.login-wrapper {
	padding-top: 1.5rem;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 30.0rem;
	margin: inherit;
}
.login-box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	box-shadow: 0 0 15px rgb(0 0 0 / 30%);
	border-radius: 1.0rem;
	height: 5.0rem;
}
.login-icon {
	width: 3.0rem;
	height: 3.0rem;
	position: absolute;
	vertical-align: middle;
	margin: 1.4rem;
	flex: 1;
}
.login-input {
	font-size: 20px;
	line-height: 3.9;
	-webkit-box-flex: 1;
	-ms-flex: 1;

	flex: 1;
	border: 0;
	border-radius: 0.9rem 0 0 0.9rem;
	width: 100%;
	padding-left: 5.0rem;
	color: #171717;
}
.login-btn {
	background-image: none;
	background-color: none;
	font-weight: 500;

	/*transition*/
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	border: 2px;
	border-color: #430092;
	border-radius: 0 0.9rem 0.9rem 0;
	cursor: pointer;
	color: #000;
	font-size: 1.3rem;
	text-align: center;
	position: relative;
	width: 6.5rem;
	height: 5.0rem;
	padding-left: 20% !important;
	display: inline-block;
	justify-content: center;
}
.login-btn:hover{
	background-color: #430092;
}
#login-btn-icon{
	position: relative;
	padding: 0rem 1.0rem 0.25rem 0rem;
	z-index: 1;
	cursor: pointer;
}

/*FORGOT*/
.forgot-login {
	display: inline-block;
  margin-top: 2.6rem;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.02rem;
  text-align: center;
  color: #ffffff;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  text-shadow: 1px 1px 6px black !important;
  cursor: pointer;
  text-transform: uppercase;
}
.forgot-login:hover {
	color: #FFFFFF;
	background: rgba(255,255,255, 0.5);
	box-shadow: 0 0 10px 15px rgba(255,255,255, 0.5);
	border-radius: 125.0rem;
	text-decoration: none;
}

.item {
	position: relative;
	display: block;
	border-radius: 15px;
	margin: 10px auto;
	padding: 0;
}
.item img {
	max-width: 350px;
	max-height: 480px;
	border-radius: 15px;
}
.overlay {
	display: block;
	position: absolute;
	border-radius: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
  opacity: 0;
  background-color: #430092;
}
.overlay p{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 40px;
	font-style: bold;
	position: relative;
 	top: 50%;
 	left: 50%;
 	-webkit-transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
 	text-align: center;
}
.item:hover .overlay{
	opacity: 0.95;
}

.footer {

}
/*Main Page*/
select {
	border-radius: 10px;
	background-color: #430092;
	width: auto;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 5px;
}
canvas {
  width: auto;
	max-height: 400px !important;
}

.table {
	border: 3px #430092 solid;
	border-radius: 10px;
	background-color: #FFFFFF;
	display: table;
}

.trow {
	display: table-row;
  vertical-align: middle;
	justify-content: center;
}
#t-header {
	color: #FFFFFF;
	background-color: #430092;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

@media (max-width: 942px) and (min-width: 321px) {
	.login-wrapper {
		max-width: 30.0rem;
	}
	.login-btn{
		background-color: #430092;
	}
	.content{
		flex-flow: column;
	}
	.overlay {
		opacity: 1.0;
		height: 20%;
		border-radius: 15px 15px 0 0;
	}
	.overlay p{
		font-size: 30px;
	}
}
